	  --color-mauve-light: black;
    --color-mauve-mid: black;
    --color-mauve-dark: black;
    --color-slate-light: black;
    --color-slate-mid: black;
    --color-slate-dark: black;
    --color-rose-brown: black;
    --color-dusty-pink: black;
    --color-purple: black;
    --color-white: black;
    --color-grey-10: black;
    --color-grey-20: black;
    --color-grey-40: black;
    --color-grey-50: black;
    --color-grey-60: black;
    --color-grey-70: black;
    --color-grey-90: black;
    --color-grey-110: black;
    --color-grey-140: black;
    --color-grey-170: black;
    --color-grey-220: black;
    --color-nearly-black: black;
    --color-black: black;
    --color-overlay-light: black;
